<p>Name:<%= @pirate.name %></p>
<p>Weight:<%= @pirate.weight %></p>
<p>Height:<%= @pirate.height %></p>
<!-- <p>ship_name_1:<%= @ships[0].name %></p>
<p>ship_type_1: <%= @ships[0].type%></p>
<p>ship_booty_1: <%= @ships[0].booty%></p> -->
