
<body>

    <p>Name:<%= @pirate.name %></p>
    <p>Weight:<%= @pirate.weight %></p>
    <p>Height:<%= @pirate.height %></p>

  <!-- <div class = "ships">
    <% @ships.each do |ship| %>
    <p> Ship 1: <%=ship.name%></p>
    <p> Type:  <%=ship.type%></p>
    <p> Booty: <%=ship.booty%>
  </div>
  <% end %> -->
</body>
