<p>Name:<%= @pirate.name %></p>
<p>Weight:<%= @pirate.weight %></p>
<p>Height:<%= @pirate.height %></p>
<p><% Ship.all.each do |ship| %><p>
<p>ship_name_1:<%= ship.name %></p>
<p>ship_type_1: <%= ship.type%></p>
<p>ship_booty_1: <%= ship.booty%></p>
<% end%>
<!-- <p>ship_name_2:<%= @ships[1].name %></p>
<p>ship_type_2: <%= @ships[1].type%></p>
<p>ship_booty_2: <%= @ships[1].booty%></p> -->
